.items-container {
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}

.food-img {
    object-fit: cover;
}

.food-heading {
    text-align: center;
}

.food-name, .ingredients, .price {
    text-align: center;
}

.addBtn {
    position: relative;
    font: 16px "Open Sans";
    color: rgb(224, 47, 34);
    background: transparent;
    border: 2px solid rgb(224, 47, 34);
    border-radius: 2rem;
    padding: 10px 20px;;
    left: 50%;
    transform: translateX(-50%);
}

.addBtn:hover {
    font-weight: 800;
    border: 4px solid rgb(224, 47, 34);
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .items-container {
        grid-template-columns: 100%;
        margin: 0% 0 8% 18%;
    }
    
    .foodcard {
        width: 300px;
    }

    .food-img {
        width: 300px;
        height: 300px;
    }
    
    .food-heading {
        font: 50px "Satisfy";
    }
    
    .food-name {
        font: 22px "Open Sans";
        font-weight: 800;
    }

    .ingredients {
        font: 18px "Open Sans";
    }

    .price {
        font: 18px "Open Sans";
    }

}

@media screen and (max-width: 620px) and (min-width: 400px) {
    .items-container {
        grid-template-columns: 100%;
        margin: 0% 0 8% 28%;
    }
    
    .foodcard {
        width: 300px;
    }

    .food-img {
        width: 300px;
        height: 300px;
    }
    
    .food-heading {
        font: 50px "Satisfy";
    }
    
    .food-name {
        font: 22px "Open Sans";
        font-weight: 800;
    }

    .ingredients {
        font: 18px "Open Sans";
    }

    .price {
        font: 18px "Open Sans";
    }
}

@media screen and (max-width: 768px) and (min-width: 620px) {
    .items-container {
        grid-template-columns: 50% 50%;
        margin-bottom: 10%;
        left: 10%;
    }
    
    .foodcard {
        width: 320px;
        margin-bottom: 20%;;
    }

    .food-img {
        width: 300px;
        height: 300px;
    }
    
    .food-heading {
        font: 50px "Satisfy";
    }
    
    .food-name {
        font: 16px "Open Sans";
        font-weight: 800;
    }

    .ingredients {
        font: 18px "Open Sans";
    }

    .price {
        font: 18px "Open Sans";
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .items-container {
        grid-template-columns: 50% 50%;
        margin-bottom: 10%;
        left: 10%;
    }
    
    .foodcard {
        width: 350px;
        margin-bottom: 20%;;
    }

    .food-img {
        width: 350px;
        height: 350px;
    }
    
    .food-heading {
        font: 50px "Satisfy";
    }
    
    .food-name {
        font: 18px "Open Sans";
        font-weight: 800;
    }

    .ingredients {
        font: 18px "Open Sans";
    }

    .price {
        font: 18px "Open Sans";
    }
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
    .items-container {
        grid-template-columns: 33% 33% 33%;
        margin-bottom: 3%;
        left: 3%;
    }
    
    .foodcard {
        width: 400px;
        margin-bottom: 20%;
    }

    .food-img {
        width: 400px;
        height: 350px;
        border: 1px solid transparent;
        border-radius: 1rem;
        opacity: 0.9;
    }
    
    .food-heading {
        font: 50px "Satisfy";
    }
    
    .food-name {
        font: 20px "Open Sans";
        width: 400px;
        font-weight: 800;
    }

    .ingredients {
        font: 18px "Open Sans";
        width: 360px;
    }

    .price {
        font: 18px "Open Sans";
    }
}

@media screen and (min-width: 1600px) {
    .items-container {
        grid-template-columns: 25% 25% 25% 25%;
        margin-bottom: 0%;
        left: 2%;
    }
    
    .foodcard {
        width: 400px;
        margin-bottom: 22%;;
    }

    .food-img {
        width: 400px;
        height: 350px;
        border: 1px solid transparent;
        border-radius: 1rem;
        opacity: 0.9;
    }
    
    .food-heading {
        font: 50px "Satisfy";
    }
    
    .food-name {
        font: 20px "Open Sans";
        width: 400px;
        font-weight: 800;
    }

    .ingredients {
        font: 18px "Open Sans";
        width: 360px;
    }

    .price {
        font: 18px "Open Sans";
    }
}