.navbar-container a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    display: inline-block;
}

.navbar-container a:hover {
    text-decoration: underline;
}

.navbar-container {
    position: relative;
    top: 10px;
    font-size: 20px;
    width: 100vw;
    text-align: center;
}

.logo {
    color: red !important;
    font: 26px "Satisfy";
}

.nav-basket {
    position: absolute;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .navbar-container a {
        padding: 20px;
    }
    
    .navbar-container {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 620px) and (min-width: 400px) {
    .navbar-container a {
        padding: 20px;
    }
    
    .navbar-container {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 768px) and (min-width: 620px) {
    .navbar-container a {
        padding: 20px;
    }
    
    .navbar-container {
        margin-bottom: 35px;
    }

    .nav-basket {
        right: 5%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .navbar-container a {
        padding: 40px;
    }
    
    .navbar-container {
        margin-bottom: 10px;
    }

    .nav-basket {
        right: 0%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
    .navbar-container a {
        padding: 40px;
    }
    
    .navbar-container {
        margin-bottom: 10px;
    }

    .nav-basket {
        right: 3%;
    }
}

@media screen and (min-width: 1600px) {
    .navbar-container a {
        padding: 40px;
    }
    
    .navbar-container {
        margin-bottom: 10px;
    }

    .nav-basket {
        right: 3%;
    }
}