.banner {
    height: 600px;
    object-fit: cover;
    position: relative;
    opacity: 0.5;
    filter: brightness(80%)
}

.home-heading {
    text-align: center;
    margin: 100px 0 80px 0;
}

.home-sub {
    position: relative;
}

.home-sub:before {
    position: absolute;
    content: '';
    width: 35px;
    background: #000000;
}

.home-sub:after {
    position: absolute;
    content: '';
    width: 35px;
    background: hsl(0, 0%, 0%);
}

.home-headings {
    position: absolute;
    z-index: 1;
}

.icons {
    position: fixed;
    top: 35%;
}

.fa-facebook-square, .fa-instagram {
    font-size: 22px;
    padding: 20px 0px;
}

.fa-facebook-square {
    color: rgb(8, 52, 99);
}

.fa-instagram {
    color: rgb(126, 17, 126);
}

.review-content {
    text-align: justify;
    position: relative;
}

.opening-hours {
    list-style: none;
}

/* .opening-hours li {
    display: inline;
} */

.phone-number {
    color: rgb(182, 32, 32);
}

.read-more, .menucard-name {
    text-decoration: none;
    color: black;
}

.menu-img {
    object-fit: cover;
    /* opacity: 0.7; */
}

.read-more {
    position: relative;
}

.read-more:hover {
    cursor: pointer;
}

.menucard-name {
    position: absolute;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .banner {
        width: 70vw;
        left: 65%;
        transform: translateX(-65%);
    }
    
    .home-heading {
        font: 30px "Satisfy";
    }
    
    .home-sub {
        top: -90px;
        left: 53%;
        font-size: 20px;
    }
    
    .home-sub:before {
        height: 2px;
        top: 50%;
        left: -46px;
    }
    
    .home-sub:after {
        height: 2px;
        top: 50%;
        left: 70px;
    }
    
    .home-headings {
        left: 40%;
        top: 32%;
    }
    
    .icons {
        left: 6%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font: 18px "Open Sans";
        font-weight: 300;
    }

    .opening-hours li {
        text-align: center;
    }

    .menu-img {
        width: 280px;
        height: 300px;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .about-content {
        text-align: justify;
        width: 280px;
    }

    .read-more {
        left: 35%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 500;
    }

    .home-menu-container {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menucard-name {
        color: white;
        background: rgba(236, 236, 236, 0.527);
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 620px) and (min-width: 400px) {
    .banner {
        width: 80vw;
        left: 65%;
        transform: translateX(-65%);
    }
    
    .home-heading {
        font: 40px "Satisfy";
    }
    
    .home-sub {
        top: -100px;
        left: 53%;
        font-size: 20px;
    }
    
    .home-sub:before {
        height: 2px;
        top: 50%;
        left: -46px;
    }
    
    .home-sub:after {
        height: 2px;
        top: 50%;
        left: 70px;
    }
    
    .home-headings {
        left: 38%;
        top: 32%;
    }
    
    .icons {
        left: 6%;
    }
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font: 18px "Open Sans";
        font-weight: 300;
    }

    .opening-hours li {
        text-align: center;
    }

    .menu-img {
        width: 340px;
        height: 340px;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .about-content {
        text-align: justify;
        width: 320px;
    }

    .read-more {
        left: 35%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 500;
    }

    .home-menu-container {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menucard-name {
        color: white;
        background: rgba(236, 236, 236, 0.527);
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 620px) {
    .banner {
        width: 80vw;
        left: 65%;
        transform: translateX(-65%);
    }
    
    .home-heading {
        font: 55px "Satisfy";
    }
    
    .home-sub {
        top: -110px;
        left: 60%;
        font-size: 22px;
    }
    
    .home-sub:before {
        height: 2px;
        top: 50%;
        left: -46px;
    }
    
    .home-sub:after {
        height: 2px;
        top: 50%;
        left: 75px;
    }
    
    .home-headings {
        left: 39%;
        top: 32%;
    }
    
    .icons {
        left: 6%;
    }
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font: 18px "Open Sans";
        font-weight: 300;
    }

    .opening-hours li {
        text-align: center;
    }

    .menu-img {
        width: 340px;
        height: 340px;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .about-content {
        text-align: justify;
        width: 320px;
    }

    .read-more {
        left: 35%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 500;
    }

    .home-menu-container {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menucard-name {
        color: white;
        background: rgba(236, 236, 236, 0.527);
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .banner {
        width: 90vw;
        left: 65%;
        transform: translateX(-65%);
    }
    
    .home-heading {
        font: 60px "Satisfy";
    }
    
    .home-sub {
        top: -110px;
        left: 60%;
        font-size: 24px;
    }
    
    .home-sub:before {
        height: 2px;
        top: 50%;
        left: -46px;
    }
    
    .home-sub:after {
        height: 2px;
        top: 50%;
        left: 75px;
    }
    
    .home-headings {
        left: 39%;
        top: 30%;
    }
    
    .icons {
        left: 2%;
    }
    
    .content {
        font: 18px "Open Sans";
        font-weight: 300;
        text-align: center;
    }

    .opening-hours li {
        text-align: center;
        display: inline;
        padding: 12px;
    }

    .menu-img {
        width: 340px;
        height: 290px;
        border: 1px solid transparent;
        border-radius: 10px;
        opacity: 0.9;
    }

    .about-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }

    .about-content {
        text-align: justify;
    }

    .about-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 10px;
        padding: 30px;
        width: 360px;
        margin: 0 30px;
    }

    .read-more {
        left: 15%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 500;
    }

    .home-menu-container {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menucard-name {
        color: white;
        background: rgba(236, 236, 236, 0.527);
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
    .banner {
        width: 90vw;
        left: 64%;
        transform: translateX(-65%);
    }
    
    .home-heading {
        font: 70px "Satisfy";
    }
    
    .home-sub {
        top: -110px;
        left: 60%;
        font-size: 26px;
    }
    
    .home-sub:before {
        height: 2px;
        top: 50%;
        left: -46px;
    }
    
    .home-sub:after {
        height: 2px;
        top: 50%;
        left: 85px;
    }
    
    .home-headings {
        left: 40%;
        top: 38%;
    }
    
    .icons {
        left: 2%;
    }
    
    .content {
        font: 18px "Open Sans";
        font-weight: 300;
        text-align: center;
        margin-top: 100px;
    }

    .opening-hours li {
        text-align: center;
        display: inline;
        padding: 12px;
    }

    .menu-img {
        width: 340px;
        height: 290px;
        border: 1px solid transparent;
        border-radius: 10px;
        opacity: 0.9;
    }

    .about-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }

    .about-content {
        text-align: justify;
    }

    .about-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 10px;
        padding: 30px;
        width: 360px;
        margin: 0 30px;
    }

    .read-more {
        left: 15%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 500;
    }

    .home-menu-container {
        margin: 50px 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menucard-name {
        color: white;
        background: rgba(236, 236, 236, 0.527);
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .banner {
        width: 90vw;
        left: 64%;
        transform: translateX(-65%);
    }
    
    .home-heading {
        font: 80px "Satisfy";
    }
    
    .home-sub {
        top: -125px;
        left: 62%;
        font-size: 30px;
    }
    
    .home-sub:before {
        height: 4px;
        top: 50%;
        left: -46px;
    }
    
    .home-sub:after {
        height: 4px;
        top: 50%;
        left: 95px;
    }
    
    .home-headings {
        left: 42%;
        top: 28%;
    }
    
    .icons {
        left: 2%;
    }
    
    .content {
        font: 18px "Open Sans";
        font-weight: 300;
        text-align: center;
        margin-top: 100px;
    }

    .opening-hours li {
        text-align: center;
        display: inline;
        padding: 12px;
    }

    .menu-img {
        width: 340px;
        height: 290px;
        border: 1px solid transparent;
        border-radius: 10px;
        opacity: 0.9;
    }

    .about-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }

    .about-content {
        text-align: justify;
    }

    .about-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 10px;
        padding: 30px;
        width: 360px;
        margin: 0 30px;
    }

    .read-more {
        left: 15%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 500;
    }

    .home-menu-container {
        margin: 50px 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menucard-name {
        color: white;
        background: rgba(236, 236, 236, 0.527);
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
}